{% extends "base.html" %}

{% block meta %}

	<meta name="viewport" content="width=560">

	<meta property="og:site_name" content="Congress for Android and iOS">
	<meta property="og:title" content="{{ moc.title }}. {{ moc.first_name }} {% if moc.nickname %}'{{ moc.nickname }}' {% endif %}{{ moc.last_name }}{% if moc.name_suffix %} {{ moc.name_suffix }}{% endif %} ({{ moc.party }}-{{ moc.state }})">
	<meta property="og:description" content="Find out more about {{ moc.title }}. {{ moc.last_name }} with Congress for Android and iOS.">
	<meta property="og:type" content="profile">
	<meta property="og:profile:first_name" content="{{ moc.first_name }}">
	<meta property="og:profile:last_name" content="{{ moc.last_name }}">
	<meta property="og:url" content="http://cngr.es/l/{{ moc.bioguide_id }}">
	<meta property="og:image" content="http://assets.sunlightfoundation.com/moc/200x250/{{ moc.bioguide_id }}.jpg">
	<meta property="og:locale" content="en_US">
	<meta property="fb:admins" content="7812952">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://cngr.es/l/{{ moc.bioguide_id }}">
	<meta name="twitter:title" content="{{ moc.title }}. {{ moc.first_name }} {% if moc.nickname %}'{{ moc.nickname }}' {% endif %}{{ moc.last_name }}{% if moc.name_suffix %} {{ moc.name_suffix }}{% endif %} ({{ moc.party }}-{{ moc.state }})">
	<meta name="twitter:description" content="Find out more about {{ moc.title }}. {{ moc.last_name }} with Congress for Android and iOS.">
	<meta name="twitter:image" content="http://assets.sunlightfoundation.com/moc/200x250/{{ moc.bioguide_id }}.jpg">
	<meta name="twitter:site" content="@sunfoundation">

{% endblock %}

{% block title %}{{ moc.title }}. {{ moc.first_name }} {% if moc.nickname %}'{{ moc.nickname }}' {% endif %}{{ moc.last_name }}{% if moc.name_suffix %} {{ moc.name_suffix }}{% endif %} ({{ moc.party }}-{{ moc.state }}) - {{ super() }}{% endblock %}

{% block content %}

    <header>
    	<p>Congress</p>
    </header>

    <div class="card">

	    {% if not moc.in_office %}
	        <div class="alert">No longer in office</div>
	    {% endif %}

	    <div class="vcard">

	        <img class="photo" src="http://assets.sunlightfoundation.com/moc/200x250/{{ moc.bioguide_id }}.jpg">

	        <h1>
	            <a class="url fn n" href="{{ moc.website }}">
	                <span class="honorific-prefix">{{ moc.title }}.</span>
	                <span class="given-name">{{ moc.first_name }}</span>
	                {% if moc.nickname %}
	                    <span class="additional-name">{{ moc.nickname }}</span>
	                {% endif %}
	                <span class="family-name">{{ moc.last_name }}</span>
	                {% if moc.name_suffix %}
	                    <span class="honorific-suffix">{{ moc.name_suffix }}</span>
	                {% endif %}
	            </a>
	        </h1>

	        <div class="represents">
		        <span class="party party-{{ moc.party|lower }}">{{ moc.party }}</span>
		        <span class="state">{{ moc.state_name }}</span>
		        {% if moc.district %}
		            - <span class="congressional-district">District {{ moc.district }}</span>
		        {% endif %}
		    </div>

		    <dl>
		    	<dt>Phone</dt>
		    	<dd>
	        		<a class="tel" href="tel:{{ moc.phone }}">{{ moc.phone }}</a>
	        	</dd>
		        {% if moc.fax %}
		        	<dt>Fax</dt>
		            <dd class="fax">{{ moc.fax }}</dd>
		        {% endif %}
	    	</dl>

	        <div class="adr">
	            <span class="street-address">{{ moc.office }}</span>
	            <span class="locality">Washington</span>,
	            <abbr class="region" title="District of Columbia">DC</abbr>
	            <span class="postal-code">20510</span>
	        </div>

	        <div class="social">

			    {% if moc.twitter_id %}
			        <a class="twitter" title="Twitter" href="https://twitter.com/{{ moc.twitter_id }}">twitter</a>
			    {% endif %}

			    {% if moc.facebook_id %}
			        <a class="facebook" title="Facebook" href="https://www.facebook.com/{{ moc.facebook_id }}">facebook</a>
			    {% endif %}

			    {% if moc.youtube_id %}
			        <a class="youtube" title="YouTube" href="http://www.youtube.com/{{ moc.youtube_id }}">youtube</a>
			    {% endif %}

			    <div style="clear: both;"></div>

			</div>


			<div class="profiles">

				<dl>
			    	{% if moc.govtrack_id %}
						<dt>Votes</dt>
						<dd>
							<a href="http://www.opencongress.org/people/show/{{ moc.govtrack_id }}">OpenCongress</a>
							and
				        	<a href="http://www.govtrack.us/congress/members/cngres/{{ moc.govtrack_id }}">GovTrack</a>
				        </dd>
				    {% endif %}
				    {% if moc.influenceexplorer_id %}
			        	<dt>Fundraising</dt>
			        	<dd>
			        		<a href="http://influenceexplorer.com/entity/{{ moc.influenceexplorer_id }}/">Influence Explorer</a>
			        	</dd>
			        {% endif %}
			    </dl>

			</ul>

	    </div>

	</div>

{% endblock %}