<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Supported iOS URL Schemes</title>
    </head>
    <body>

        <h1>Supported iOS URL Schemes</h1>

        <h2>Legislators</h2>

        <ul>
            <li><a href="congress://legislators">List</a></li>
            <li><a href="congress://legislators/local">Geolocation</a></li>
            <li><a href="congress://legislators/M000702">Barbara Mikulski</a></li>
        </ul>

        <h2>Bills</h2>

        <ul>
            <li><a href="congress://bills">List</a></li>
            <li><a href="congress://bills?q=peanut">Search for peanut</a></li>
            <li><a href="congress://bills/hres198-113">H. Res. 198 (113th Congress)</a></li>
        </ul>

    </body>
</html>